.table-body-stats {
    margin-left: 10px;
    margin-top: 22px;

    .TableHelper-content {
        background-color: #161a1b;
        white-space: nowrap;
        width: 175px;
        height: 250px;
        flex-grow: unset !important;
        padding: 10px;

        > div {
            margin: 0 !important;
        }

        ._matchtitle {
            margin-bottom: 10px !important;
            flex-direction: row;
            flex-wrap: wrap;
            font-size: 13px;
            &._icon {
                width: 20px;
                height: 20px;
            }
            > div._viewers {
                margin-top: 10px;
                flex: 0 1 100%;
                text-align: center;
            }
        }

        .TableHelper-content-stat {
            flex-flow: column nowrap !important;
        }
    }
}
.TableHelper {
    width: 470px !important;
    left: 110px !important;
}
.TableHelper-content-players {
    margin: 15px 10px !important;
}
.TableHelper-content-players-row {
    > div > div:first-child {
        display: none;
    }
    .profit_neg {
        color: #cd3747;
    }
    .profit_pos {
        color: #8cc152;
    }
    &.player_border_0 {
        border-top-color: var(--user_red) !important;
    }
    &.player_border_1 {
        border-top-color: var(--user_blue) !important;
    }
    &.player_border_2 {
        border-top-color: var(--user_green) !important;
    }
    &.player_border_3 {
        border-top-color: var(--user_purple) !important;
    }
    &.player_border_4 {
        border-top-color: var(--user_yellow) !important;
    }
}
.TableHelper-content-players-head,
.TableHelper-content-players-row {
    > div:nth-child(4) {
        width: 65px;
    }
    > div:nth-child(5) {
        width: 40px;
    }
}
