.table-body-board-tokens {
    >div {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15pt;

        >._skip {
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('../../../assets/images/skip_move_token.png');
            background-size: contain;
            width: 20px;
            height: 20px;
        }
        >._back {
            margin-left: -1.5px;
        }
    }
}