.table-body-board-tokens {
    >div {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15pt;

        >._skip {
            margin-left: 0.5px;
        }
        >._back {
            margin-left: -1.5px;
        }
    }
}