.TableContract {
    height: 50% !important;
    padding: 0px 10px 10px 10px !important;
}
.TableContract-top-title {
    display: none !important;
}
.TableContract-content {
    margin: 5px 0 !important;
}
.TableContract-content-list {
    margin-top: 5px !important;
    > div ._one ._image {
        width: 38px !important;
        margin-right: 5px !important;
    }
    > div ._one ._info ._title ._edit {
        font-size: 10px !important;
    }
}

div.scr-content {
    div._title {
        font-size: 11px !important;
        > input {
            width: 65px !important;
            white-space: nowrap;
        }
    }
    div._subtitle {
        font-size: 9px !important;
    }
    div._one {
        float: left;
        margin-top: 7px !important;
        margin-right: 7px;
        max-width: 45%;
        min-width: 45%;
        overflow: hidden;
    }
}
.TableContract-content-equality {
    position: absolute;
    top: calc(50%);
    left: calc(50% - 19px);
    ._button {
        background: #8cc152;
        border-radius: 5px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        padding: 5px 10px;
        transition: background-color 0.1s, color 0.1s;
        &:hover {
            background: #a0d468;
        }
    }
}
