.marketBanner {
    margin-left: -25px;
    padding: 90px 25px 40px !important;
    + .container {
        padding: 25px 0 25px 25px;
    }
}

.market-list,
.marketListing-listing-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    border-top: 1px solid #3d3e46;
    border-left: 1px solid #3d3e46;
    margin: 20px !important;
    > .list-one {
        border-bottom: 1px solid #3d3e46;
        border-right: 1px solid #3d3e46;
    }
}

body:not([theme]) {
    .market-list,
    .marketListing-listing-list {
        border-color: var(--color-border-1);
        > .list-one {
            border-color: var(--color-border-1);
        }
    }
}

.marketThing {
    display: grid;
    grid-template-columns: 75px auto;

    > div {
        float: unset !important;
    }

    .marketThing-info {
        grid-column: 2;
        grid-row: 1;
        width: unset !important;
    }
    .marketThing-seller {
        grid-row: 2;
        grid-column: 1;
        margin-left: 0 !important;
    }
    .marketThing-price {
        grid-row: 2;
        grid-column: 2;
        justify-self: end;
        width: unset !important;
    }
    input[type="button"] {
        margin-left: 5px;
    }
}

.list-one:first-child {
    border-top: unset !important;
}
