.img-bomb {
    background-image: url('../../assets/images/bomb.png') !important;
}

.img-skip-move {
    background-image: url('../../assets/images/skip_move.png') !important;
}

.img-back-move {
    background-image: url('../../assets/images/back_move.png') !important;
}