:root {
    --base-menu-width: 75px;
    --statsable-padding-top: 25px;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    padding: 15px 0 15px calc(var(--base-menu-width) + 25px) !important;

    > .container,
    > .widther {
        height: 100%;
        padding-right: 25px !important;
    }
    > .widther {
        margin-top: 0 !important;
    }
}
.footer {
    display: none;
}

.widther {
    width: unset !important;
}
div.IM {
    padding-top: 0 !important;
}
.bigboard {
    min-height: 980px !important;
}
.widther.main-section-love, .widther.index-letsplay {
    height: unset !important;
}